In [14]:
import pandas as pd
import numpy as np

In [48]:
planes = pd.read_csv('planes_fil.txt', encoding='utf-8')

In [59]:
planes = planes.rename(index=str, columns={'Unnamed: 0': 'idx'})
planes.iloc[1].idx

2

In [50]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']

In [76]:
df.shape[0]

171

In [89]:
result = np.empty((0, 2))
for i in range(df.shape[0]):
    seats = (letters[x/50]+str(x%50+1) for x in np.arange(0, planes.iloc[i]['Seats'] ))
    for j in range(planes.iloc[i].Seats):
        result = np.vstack((result, np.array([planes.iloc[i].idx, seats.next()])))

In [90]:
result

array([['1', 'A1'],
       ['1', 'A2'],
       ['1', 'A3'],
       ...,
       ['174', 'C22'],
       ['174', 'C23'],
       ['174', 'C24']],
      dtype='|S32')

In [93]:
df = pd.DataFrame(data=result, columns=['Model', 'Seat'])

In [94]:
df

      Model Seat
0         1   A1
1         1   A2
2         1   A3
3         1   A4
4         1   A5
5         1   A6
6         1   A7
7         1   A8
8         1   A9
9         1  A10
10        1  A11
11        1  A12
12        1  A13
13        1  A14
14        1  A15
15        1  A16
16        1  A17
17        1  A18
18        1  A19
19        1  A20
20        1  A21
21        1  A22
22        1  A23
23        1  A24
24        1  A25
25        1  A26
26        1  A27
27        1  A28
28        1  A29
29        1  A30
...     ...  ...
28389   174  B45
28390   174  B46
28391   174  B47
28392   174  B48
28393   174  B49
28394   174  B50
28395   174   C1
28396   174   C2
28397   174   C3
28398   174   C4
28399   174   C5
28400   174   C6
28401   174   C7
28402   174   C8
28403   174   C9
28404   174  C10
28405   174  C11
28406   174  C12
28407   174  C13
28408   174  C14
28409   174  C15
28410   174  C16
28411   174  C17
28412   174  C18
28413   174  C19
28414   174  C20
28415   174  C21
28416   174  C22
28417   174  C23
28418   174  C24

[28419 rows x 2 columns]

In [95]:
df.to_csv('seats_fil.txt', index=False, encoding='utf-8')