In [1]:
import pandas as pd
import numpy as np

In [8]:
planes = pd.read_csv('planes_fil.txt', encoding='utf-8')

In [9]:
planes = planes.rename(index=str, columns={'Unnamed: 0': 'idx'})
planes.iloc[1].idx

2

In [27]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']
def seattype(i, pseats):
    types = ['ekonomiczna', 'biznes', 'premium']
    if (i < pseats*0.01):
        return types[2]
    elif (i < pseats*0.05):
        return types[1]
    else:
        return types[0]

In [28]:
result = np.empty((0, 3))
for i in range(planes.shape[0]):
    seatsLet = (letters[x/50] for x in np.arange(0, planes.iloc[i]['Seats'] ))
    seatsNum = (x%50+1 for x in np.arange(0, planes.iloc[i]['Seats'] ))
    plane = planes.iloc[i]
    for j in range(plane.Seats):
        num = seatsNum.next()
        stype = seattype(num, plane.Seats)
        result = np.vstack((result, np.array([plane.idx, seatsLet.next() + str(num), stype])))

In [29]:
result

array([['1', 'A1', 'biznes'],
       ['1', 'A2', 'ekonomiczna'],
       ['1', 'A3', 'ekonomiczna'],
       ...,
       ['174', 'C22', 'ekonomiczna'],
       ['174', 'C23', 'ekonomiczna'],
       ['174', 'C24', 'ekonomiczna']],
      dtype='|S32')

In [30]:
df = pd.DataFrame(data=result, columns=['Model', 'Seat', 'Class'])

In [31]:
df

      Model Seat        Class
0         1   A1       biznes
1         1   A2  ekonomiczna
2         1   A3  ekonomiczna
3         1   A4  ekonomiczna
4         1   A5  ekonomiczna
5         1   A6  ekonomiczna
6         1   A7  ekonomiczna
7         1   A8  ekonomiczna
8         1   A9  ekonomiczna
9         1  A10  ekonomiczna
10        1  A11  ekonomiczna
11        1  A12  ekonomiczna
12        1  A13  ekonomiczna
13        1  A14  ekonomiczna
14        1  A15  ekonomiczna
15        1  A16  ekonomiczna
16        1  A17  ekonomiczna
17        1  A18  ekonomiczna
18        1  A19  ekonomiczna
19        1  A20  ekonomiczna
20        1  A21  ekonomiczna
21        1  A22  ekonomiczna
22        1  A23  ekonomiczna
23        1  A24  ekonomiczna
24        1  A25  ekonomiczna
25        1  A26  ekonomiczna
26        1  A27  ekonomiczna
27        1  A28  ekonomiczna
28        1  A29  ekonomiczna
29        1  A30  ekonomiczna
...     ...  ...          ...
28389   174  B45  ekonomiczna
28390   174  B46  ekonomiczna
28391   174  B47  ekonomiczna
28392   174  B48  ekonomiczna
28393   174  B49  ekonomiczna
28394   174  B50  ekonomiczna
28395   174   C1      premium
28396   174   C2       biznes
28397   174   C3       biznes
28398   174   C4       biznes
28399   174   C5       biznes
28400   174   C6       biznes
28401   174   C7  ekonomiczna
28402   174   C8  ekonomiczna
28403   174   C9  ekonomiczna
28404   174  C10  ekonomiczna
28405   174  C11  ekonomiczna
28406   174  C12  ekonomiczna
28407   174  C13  ekonomiczna
28408   174  C14  ekonomiczna
28409   174  C15  ekonomiczna
28410   174  C16  ekonomiczna
28411   174  C17  ekonomiczna
28412   174  C18  ekonomiczna
28413   174  C19  ekonomiczna
28414   174  C20  ekonomiczna
28415   174  C21  ekonomiczna
28416   174  C22  ekonomiczna
28417   174  C23  ekonomiczna
28418   174  C24  ekonomiczna

[28419 rows x 3 columns]

In [32]:
df.to_csv('seats_fil.txt', index=False, encoding='utf-8')